body{
  background-color:#EBDEF0 ;
}
ul{
  list-style-type:none;
  width:100%;
  text-align:center;
  position: fixed;
}
li{
  float:left;
}
li a{
  color:#6D435A;
  padding: 50px;
  font-family:"Papyrus",Fantasy;
  text-decoration-line: none;
}
li a:hover{
  background-color: white;
}

h1{
  color:#352D39;
  font-size: 500%;
  letter-spacing: 2px;
  text-decoration-line: underline;
}
p{
  color:#6D435A;
  font-size:200%;
}
img{
  width:35%;
  border:dashed #6D435A 10px;
}
iframe{
  
}
